version: 2.0

build_jobs: &build_jobs
  jobs:
    - build-amd64
    - build-arm64
    - build-armhf
    - push-manifest:
        requires:
          - build-amd64
          - build-arm64
          - build-armhf

workflows:
  version: 2
  commit:
    <<: *build_jobs
  nightly:
    <<: *build_jobs
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - master


shared: &shared
  machine: true
  steps:
    - checkout

    - run:
        name: Install build dependencies.
        command: sudo apt update && sudo apt install curl jq

    - run:
        name: Add repo version to env.
        command: |
          echo 'export VERSION=$(curl -s https://api.github.com/repos/${GITHUB_REPO}/releases/latest | jq -r ".tag_name")' >> $BASH_ENV
          echo 'export IMAGE_ID="${REGISTRY}/${IMAGE}:${VERSION}-${TAG}"' >> $BASH_ENV
          echo 'export DIR=`pwd`' >> $BASH_ENV
          source $BASH_ENV

    - run:
        name: Update Go version.
        command: |
          sudo rm -rf /usr/local/go
          curl -sL https://storage.googleapis.com/golang/go1.10.1.linux-amd64.tar.gz | tar xz
          sudo mv go/ /usr/local
          go env && go version

    - run:
        name: Build binary.
        command: |
          mkdir -p $GOPATH/src/github.com/${IMAGE}
          git clone https://github.com/${GITHUB_REPO} --depth=1 -b ${VERSION} $GOPATH/src/github.com/${GITHUB_REPO} &>/dev/null
          echo "Building repo: $GITHUB_REPO" && echo "Version: $VERSION" && echo "Architecture: $GOARCH"
          cd $GOPATH/src/github.com/${GITHUB_REPO}
          go get .
          make

    - run:
        name: Build and push Docker image.
        command: |
          .circleci/push-multiarch.sh

jobs:
  build-amd64:
    <<: *shared
    environment:
      # TODO (Consolidate these)
      GITHUB_REPO: minio/minio
      GOPATH: /home/circleci/go
      GOROOT: /usr/local/go
      IMAGE: minio
      REGISTRY: jessestuart
      GOARCH: amd64
      TAG: amd64
      QEMU_ARCH: amd64
      TARGET: amd64
  build-arm64:
    <<: *shared
    environment:
      GITHUB_REPO: minio/minio
      GOARCH: arm64
      GOPATH: /home/circleci/go
      GOROOT: /usr/local/go
      IMAGE: minio
      QEMU_ARCH: aarch64
      QEMU_VERSION: v2.11.0
      REGISTRY: jessestuart
      TAG: arm64
      TARGET: arm64v8
  build-armhf:
    <<: *shared
    environment:
      GITHUB_REPO: minio/minio
      GOARCH: arm
      GOPATH: /home/circleci/go
      GOROOT: /usr/local/go
      IMAGE: minio
      QEMU_ARCH: arm
      QEMU_VERSION: v2.11.0
      REGISTRY: jessestuart
      TAG: arm
      TARGET: arm32v6
  push-manifest:
    docker:
      - image: docker:18
    environment:
      GITHUB_REPO: minio/minio
      IMAGE: minio
      REGISTRY: jessestuart
    steps:
      - setup_remote_docker

      - run:
          name: Determine repo version. Again.
          command: |
            apk update && apk add curl jq
            curl -s https://api.github.com/repos/${GITHUB_REPO}/releases/latest | jq -r ".tag_name" > ~/VERSION

      - run:
          name: Install manifest-tool.
          command: |
            export VERSION=$(cat ~/VERSION)
            echo "Downloading manifest-tool."
            wget https://github.com/estesp/manifest-tool/releases/download/v0.7.0/manifest-tool-linux-amd64
            mv manifest-tool-linux-amd64 /usr/bin/manifest-tool
            chmod +x /usr/bin/manifest-tool
            manifest-tool --version

      - run:
          name: Push Docker manifest.
          command: |
            export VERSION=$(cat ~/VERSION)
            echo $DOCKERHUB_PASS | docker login -u $DOCKERHUB_USER --password-stdin;
            manifest-tool push from-args \
              --platforms linux/amd64,linux/arm,linux/arm64 \
              --template "$REGISTRY/$IMAGE:$VERSION-ARCH" \
              --target "$REGISTRY/$IMAGE:$VERSION"
            if [ "${CIRCLE_BRANCH}" == 'master' ]; then
              manifest-tool push from-args \
                --platforms linux/amd64,linux/arm,linux/arm64 \
                --template "$REGISTRY/$IMAGE:$VERSION-ARCH" \
                --target "$REGISTRY/$IMAGE:latest"
            fi

      - run:
          name: Verify manifest was persisted remotely.
          command: |
            export VERSION=$(cat ~/VERSION)
            manifest-tool inspect "$REGISTRY/$IMAGE:$VERSION"
