version: 2.0

workflows:
  version: 2
  build:
    jobs:
      - build-armhf
      - build-arm64
      # - build-amd64
  nightly:
    jobs:
      - build-armhf
      - build-arm64
      # - build-amd64
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - master

shared: &shared
  machine: true
  steps:
    - checkout

    - run:
        name: Install build dependencies.
        command: sudo apt update && sudo apt install curl jq

    - run:
        name: Add repo version to env.
        command: |
          echo 'export VERSION=$(curl -s https://api.github.com/repos/${GITHUB_REPO}/releases/latest | jq -r ".tag_name")' >> $BASH_ENV
          echo 'export IMAGE_ID="${REGISTRY}/${IMAGE}:${VERSION}-${TAG}"' >> $BASH_ENV
          echo 'export DIR=`pwd`' >> $BASH_ENV
          source $BASH_ENV

    - run:
        name: Update Go version.
        command: |
          sudo rm -rf /usr/local/go
          curl -O https://storage.googleapis.com/golang/go1.10.1.linux-amd64.tar.gz
          tar xzf go1.10.1.linux-amd64.tar.gz
          sudo mv go/ /usr/local
          go env && go version

    - run:
        name: Build binary.
        command: |
          mkdir -p $GOPATH/src/github.com/${IMAGE}
          git clone https://github.com/${GITHUB_REPO} --depth=1 -b ${VERSION} $GOPATH/src/github.com/${GITHUB_REPO} &>/dev/null
          echo "Building repo: $GITHUB_REPO" && echo "Version: $VERSION" && echo "Architecture: $GOARCH"
          cd $GOPATH/src/github.com/${GITHUB_REPO}
          go get .
          make

    - run:
        name: Build and push Docker image.
        command: |
          export IMAGE_ID="${REGISTRY}/${IMAGE}:${VERSION}-${TAG}"
          cd $GOPATH/src/github.com/${GITHUB_REPO}
          # ============
          # <qemu-support>
          curl -sL "https://github.com/multiarch/qemu-user-static/releases/download/${QEMU_VERSION}/qemu-${QEMU_ARCH}-static.tar.gz" | tar xz
          docker run --rm --privileged multiarch/qemu-user-static:register
          # </qemu-support>
          # ============

          # Replace the repo's Dockerfile with our own.
          cp -f $DIR/Dockerfile .
          docker build -t ${IMAGE_ID} --build-arg target=$TARGET --build-arg arch=$QEMU_ARCH .
          # Login to Docker Hub.
          echo $DOCKERHUB_PASS | docker login -u $DOCKERHUB_USER --password-stdin
          # Push push push
          docker push ${IMAGE_ID}
          if [ "${CIRCLE_BRANCH}" == 'master' ]; then
            docker tag  "${IMAGE_ID}" "${REGISTRY}/${IMAGE}:latest-${TAG}";
            docker push               "${REGISTRY}/${IMAGE}:latest-${TAG}";
          fi

    - run:
        name: Push Docker manifest.
        command: |
          echo "Logging into to Docker Hub."
          echo $DOCKERHUB_PASS | docker login -u $DOCKERHUB_USER --password-stdin;
          echo "Downloading manifest-tool."
          wget https://github.com/estesp/manifest-tool/releases/download/v0.7.0/manifest-tool-linux-amd64
          mv manifest-tool-linux-amd64 manifest-tool
          chmod +x manifest-tool
          ./manifest-tool --version

          echo "Pushing manifest for verrsion: $VERSION"
          ./manifest-tool push from-args \
            --platforms linux/arm,linux/arm64 \
            --template "$REGISTRY/$IMAGE:$VERSION-ARCH" \
            --target "$REGISTRY/$IMAGE:$VERSION"
          if [ "${CIRCLE_BRANCH}" = 'master' ]; then
            echo "Pushing manifest "$REGISTRY/$IMAGE":latest"
            ./manifest-tool push from-args \
              --platforms linux/arm,linux/arm64 \
              --template "$REGISTRY/$IMAGE:$VERSION-ARCH" \
              --target "$REGISTRY/$IMAGE:latest"
          fi

jobs:
  build-amd64:
    <<: *shared
    environment:
      GITHUB_REPO: minio/minio
      GOARCH: amd64
      GOPATH: /home/circleci/go
      GOROOT: /usr/local/go
      IMAGE: minio
      QEMU_ARCH: amd64
      QEMU_VERSION: v2.11.0
      REGISTRY: jessestuart
      TAG: amd64
      TARGET: amd64
  build-arm64:
    <<: *shared
    environment:
      GITHUB_REPO: minio/minio
      GOARCH: arm64
      GOPATH: /home/circleci/go
      GOROOT: /usr/local/go
      IMAGE: minio
      QEMU_ARCH: aarch64
      QEMU_VERSION: v2.11.0
      REGISTRY: jessestuart
      TAG: arm64
      TARGET: arm64v8
  build-armhf:
    <<: *shared
    environment:
      GITHUB_REPO: minio/minio
      GOARCH: arm
      GOPATH: /home/circleci/go
      GOROOT: /usr/local/go
      IMAGE: minio
      QEMU_ARCH: arm
      QEMU_VERSION: v2.11.0
      REGISTRY: jessestuart
      TAG: arm
      TARGET: arm32v6
